<!--The content below is only a placeholder and can be replaced.-->

<h1>Les articles du jour </h1>
<br><br><br>

Veuillez saisir le nombre d'articles a afficher dans la page   <input  type="text" (keyup)=onchange()  [(ngModel)]="numbre"   >



<div>
    <table border="1">
      <tr>
   
        <th>Titre</th>
        <th>Contenu</th>
        <th>auteur</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let article of articles">
        <th>{{article.titre}}</th>
        <th>{{article.contenu}}</th>
        <th>{{article.auteur}}</th>
        <th>{{article.date}}</th>

      </tr>
    </table>
  </div>
  <br> <br> <br>
  <div *ngIf="show">

<div *ngIf="numbre >= articles.length">


  <div *ngFor="let article of articles">
      <app-page [art]="article" ></app-page>
  </div>


</div>


<div *ngIf="numbre < articles.length">


    <div *ngFor="let article of articles ; let i=index">
      <div *ngIf="i<numbre">
          <app-page [art]="article" ></app-page>
      </div>
       
    </div>
  
  
  </div>
</div>
<br> <br> <br>
<router-outlet></router-outlet>